azure-cli 2.38.0 # renovate: datasource=repology depName=homebrew/azure-cli versioning=loose
krew 0.4.3 # renovate: datasource=github-releases depName=kubernetes-sigs/krew versioning=loose
rust stable

{{- if eq .usage "work" }}
kubectl-kots 1.76.1
{{- end }}
