{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# shell
brew "fish"
brew "starship"
brew "fzf"
brew "zoxide"
brew "bat"
brew "fd"
brew "lsd"
brew "neovim"

# cloudy
brew "kubectl"
brew "helm"
brew "kustomize"
brew "azure-cli"
brew "FairwindsOps/tap/pluto"
brew "octant"
cask "google-cloud-sdk"
brew "pulumi"
brew "kubeseal"
brew "kdash-rs/kdash/kdash"
brew "kubie"

# python
brew "pipx"
brew "pyenv"

# Misc
brew "hugo"
brew "git-crypt"
brew "gpg"
brew "pwgen"
brew "nmap"

{{- if eq .usage "work" }}
brew "replicatedhq/replicated/cli"
brew "datawire/blackbird/telepresence"
{{- end }}
EOF

echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells
chsh -s "$(brew --prefix)/bin/fish"
{{ end -}}
