#!/bin/bash

curl -fLo ~/.local/share/nvim/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
nvim -c "PlugInstall | :qa"

pipx install pipenv

{{- if ne .usage "work" }}
pipx install pyinfra
{{- if ne .chezmoi.osRelease.id "nixos" }}
(curl -Ls --tlsv1.2 --proto "=https" --retry 3 https://cli.doppler.com/install.sh || wget -t 3 -qO- https://cli.doppler.com/install.sh) | sh -s -- --verify-signature
{{- end }}
{{- end }}
