{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "fish"
brew "starship"
brew "fzf"
brew "zoxide"
brew "bat"
brew "fd"
brew "lsd"
brew "neovim"
brew "hugo"
brew "pipx"
brew "kubectl"
brew "helm"
brew "kubeseal"
brew "git-crypt"
brew "gpg"
brew "kustomize"
brew "nmap"
brew "azure-cli"
brew "FairwindsOps/tap/pluto"
brew "octant"
brew "pyenv"
EOF

echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells
chsh -s "$(brew --prefix)/bin/fish"
{{ end -}}
