{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# shell
brew "fish"
brew "starship"
brew "fzf"
brew "zoxide"
brew "bat"
brew "fd"
brew "lsd"
brew "neovim"
brew "shellcheck"

# cloudy
brew "kubectl"
brew "helm"
brew "kustomize"
brew "FairwindsOps/tap/pluto"
cask "google-cloud-sdk"
brew "pulumi"
brew "kubeseal"
brew "kdash-rs/kdash/kdash"
brew "kubie"
brew "aquasecurity/trivy/trivy"
brew "act"
brew "actionlint"
brew "cloudflare/cloudflare/cloudflared"

# python
brew "pipx"
brew "pyenv"

# Misc
brew "hugo"
brew "git-crypt"
brew "gpg"
brew "pwgen"
brew "nmap"
brew "hey"
brew "jq"
brew "yq"
brew "gh"
brew "libpq"
brew "step"
brew "deno"

{{- if eq .usage "work" }}
brew "replicatedhq/replicated/cli"
brew "datawire/blackbird/telepresence"
brew "vmware-tanzu/carvel/imgpkg"
brew "vmware-tanzu/carvel/kbld"
brew "awscli"
cask "session-manager-plugin"
tap "weaveworks/tap"
brew "weaveworks/tap/eksctl"
brew "certbot"
{{- end }}
EOF

echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells
chsh -s "$(brew --prefix)/bin/fish"
{{ end -}}
