alias ls lsd
alias lt 'ls --tree'

alias vim nvim

function k --wraps=kubectl --description 'kubectl shorthand'
  if type -q kubecolor
    kubecolor $argv
  else
    kubectl $argv
  end
end
alias kgpo 'kubectl get pods'

alias gdb 'git branch -D'

{{ if eq .chezmoi.os "darwin" -}}
alias flush_dns 'sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder'
{{ end }}

