function _brew_setup
  if test -d (brew --prefix)"/share/fish/completions"
    set -gp fish_complete_path (brew --prefix)/share/fish/completions
  end

  if test -d (brew --prefix)"/share/fish/vendor_completions.d"
    set -gp fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
  end
end

if test -d /opt/homebrew
  eval (/opt/homebrew/bin/brew shellenv)
  _brew_setup
end

if test -d /usr/local/bin/brew
  eval (/usr/local/bin/brew shellenv)
  _brew_setup
end

if test -d /usr/local/opt/libpq/bin
  fish_add_path -m /usr/local/opt/libpq/bin/
end

source ~/.asdf/asdf.fish
mkdir -p ~/.config/fish/completions; and ln -sf ~/.asdf/completions/asdf.fish ~/.config/fish/completions

fish_add_path -m ~/.local/bin
#fish_add_path -m ~/.cargo/bin
{{ if eq .chezmoi.os "darwin" -}}
fish_add_path -m "/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
{{ end }}
fish_add_path -m /usr/local/go/bin
fish_add_path -m ~/.krew/bin

set -Ux PYENV_ROOT $HOME/.pyenv
fish_add_path -m $PYENV_ROOT/bin

if type -q pyenv
  status is-login; and pyenv init --path | source
  status is-interactive; and pyenv init - | source
end

fish_config theme choose "Catppuccin%20Mocha"

starship init fish | source
zoxide init fish | source

source ~/.config/fish/aliases.fish
